<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="SMTPServer" value="smtp.gmail.com" />
		<add key="FolderPath" value="C:\Users\Dawid\OneDrive\Dokumenty\Test\" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="Binding1">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					
					<security mode="None" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<services>
			<!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
			<service name="MyBillsService.BillsServiceController" behaviorConfiguration="BillsServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/MyBillsService/service" />
					</baseAddresses>
				</host>
		
				<endpoint address="" binding="basicHttpBinding" contract="MyBillsService.IBillsService" bindingConfiguration="Binding1" />
	
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				
				
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="BillsServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="False" />
					
				</behavior>
			</serviceBehaviors>
		</behaviors>

		
	</system.serviceModel>
  <runtime>


	  
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.18.0" newVersion="3.1.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.18.0" newVersion="3.1.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.18.0" newVersion="3.1.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.18.0" newVersion="3.1.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.18.0" newVersion="3.1.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.18.0" newVersion="3.1.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.18.0" newVersion="3.1.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
        <dependentAssembly>


	  
            <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />


	  
            <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />


	  
        </dependentAssembly>


	  
        <dependentAssembly>


	  
            <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />


	  
            <bindingRedirect oldVersion="0.0.0.0-3.1.18.0" newVersion="3.1.18.0" />


	  
        </dependentAssembly>


	  
        <dependentAssembly>


	  
            <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />


	  
            <bindingRedirect oldVersion="0.0.0.0-3.1.18.0" newVersion="3.1.18.0" />


	  
        </dependentAssembly>


	  
        <dependentAssembly>


	  
            <assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral" />


	  
            <bindingRedirect oldVersion="0.0.0.0-3.1.18.0" newVersion="3.1.18.0" />


	  
        </dependentAssembly>


	  
        <dependentAssembly>


	  
            <assemblyIdentity name="Microsoft.EntityFrameworkCore.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />


	  
            <bindingRedirect oldVersion="0.0.0.0-3.1.18.0" newVersion="3.1.18.0" />


	  
        </dependentAssembly>


	  
        <dependentAssembly>


	  
            <assemblyIdentity name="Microsoft.EntityFrameworkCore.Relational" publicKeyToken="adb9793829ddae60" culture="neutral" />


	  
            <bindingRedirect oldVersion="0.0.0.0-3.1.18.0" newVersion="3.1.18.0" />


	  
        </dependentAssembly>


	  
    </assemblyBinding>
  </runtime>
</configuration>